<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" th:href="@{/css/font.css}" >
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script th:src="@{/lib/layui/layui.js}"  charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="x-body layui-anim layui-anim-up">
    <h2>批量导入用户</h2>
    <form class="layui-form">
        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label">
                <span class="x-red">*</span>导入文件
            </label>
            <div class="layui-input-inline">
                <button type="button" class="layui-btn" id="test1">
                    <i class="layui-icon">&#xe67c;</i>选择Excel
                </button>
            </div>
        </div>


    </form>
</div>

<script>
    layui.use('upload', function(){
        var upload = layui.upload;
        //执行实例
        var destdir="upload/user/export";
        var uploadInst = upload.render({
            elem: '#test1' //绑定元素
            ,url: '../student/exportStudent/' //上传接口
            ,data:{
                destdir: function(){
                    return destdir;//文件上传路径
                }
            }
            ,accept:"file"
            ,exts:"xls|xlsx"
            ,done: function(res){
                //上传完毕回调
                if(res.code==0){
                    layer.msg("导入成功");
                }
            }
            ,error: function(){
                //请求异常回调
            }
        });
    });
</script>


</body>

</html>